.click-left,
.click-right {
  width: 40px;
  height: 40px;
  background-color: F7F7F7;
  display: none;
  border-radius: 5px;
  border: none;
}

.pages {
  align-items: center;
  display: flex;
  margin-top: 60px;
  margin-left: 20px;
  gap: 16px;
}

.page-btn,
.dots,
.direction-movement {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-color: white;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.prev-page {
  border-radius: 25px 5px 5px 25px;
}

.next-page {
  border-radius: 5px 25px 25px 5px;
}

.end-page,
.start-page,
.prev-page,
.next-page {
  background-color: #ddd;
  width: 80px;
}

.page-btn:hover,
.page-btn:focus,
.active {
  background-color: #ff6b08;
  color: white;
}

.tak {
  width: 20px;
  height: 20px;
}

button {
  background: none;
  appearance: none;

  cursor: pointer;
  border: none;
  transition: all 0.3s ease;
}

.page-btn[disabled] {
  opacity: 0.3;
}

.page-btn[disabled]:hover {
  background-color: transparent;
  cursor: none;
}
